@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home */
.project-card-shadow {
    @media (min-width: 768px) {
        background:
        linear-gradient(
            to top ,
            rgb(10 10 10 / 0.9),
            rgb(0 0 0 / 0)
        ),
        url(/img/home3.jpg);
        background-size: cover;
    }
}
/* Home End */

.clicked {
    @apply hover:scale-[.98] hover:brightness-[.98] active:brightness-95
}

.bronze {
    @apply bg-gradient-to-br text-white border-white from-yellow-800 via-yellow-700 to-yellow-800;
}  
.silver {
    @apply bg-gradient-to-br text-white border-white from-gray-500 via-gray-400 to-gray-500;
}  
.gold {
    @apply bg-gradient-to-br text-white border-white from-yellow-500 via-yellow-400 to-yellow-500;
}  
.diamond {
    @apply bg-gradient-to-br text-white border-white from-blue-500 via-blue-400 to-blue-500;
}  

@keyframes loading {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.skeleton {
    background: linear-gradient(90deg, rgba(229, 231, 235, 1) 0%, rgba(243, 244, 246, 1) 50%, rgba(229, 231, 235, 1) 100%);
    background-size: 200px 100%;
    animation: loading 1.5s ease-in-out infinite;
}

.transition-max-height {
    transition: max-height 0.3s ease-in-out;
}


.loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
  
